{%extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    </div>
    <div class="form-group">
        <label for="Discount">Discount:</label>
        {{ form_widget(form.Discount,{
            'attr':{
                'class':'form-control',
                'placeholder': 'DateOrder'
            }
        }) }}
    </div>
    {#<div class="form-group">#}
    {#    <label for="CustomerID">Customerid:</label>#}
    {#    {{ form_widget(form.CustomerID,{#}
    {#        'attr':{#}
    {#            'class':'form-control',#}
    {#            'placeholder': 'Task name'#}
    {#        }#}
    {#    }) }}#}
    {#    <div class="invalid-feedback">#}
    {#        {{ form_errors(form.CustomerID) }}#}
    {#    </div>#}
    {#    <div class="form-group">#}
    {#        <label for="CarID">CarID:</label>#}
    {#        {{ form_widget(form.CarID,{#}
    {#            'attr':{#}
    {#                'class':'form-control',#}
    {#                'placeholder': 'Task name'#}
    {#            }#}
    {#        }) }}#}
    {#        <div class="invalid-feedback">#}
    {#            {{ form_errors(form.CarID) }}#}
    {#        </div>#}




    <input type="submit" name="create_customer" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
